<div class="wrapper" id="clients">
  <div class="container team" style="padding-top: 40px; padding-bottom: 40px;">
    <h2>Clients</h2>
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <div class="card-clients">
          <div class="img-clients">
            <%= image_tag "clarins.png" %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="card-clients">
          <div class="img-clients">
            <%= image_tag "unibail.png" %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="card-clients">
          <div class="img-clients">
            <%= image_tag "phalsbourg.png" %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="card-clients">
          <div class="img-clients">
            <%= image_tag "bopro.png" %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="card-clients">
          <div class="img-clients">
            <%= image_tag "expo.png" %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="card-clients">
          <div class="img-clients">
            <%= image_tag "lyxor.png" %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="card-clients">
          <div class="img-clients">
            <%= image_tag "colombus.png" %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="card-clients">
          <div class="img-clients">
            <%= image_tag "total.png" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
