<div class="wrapper" id="entreprises">
  <h2 class="title">Entreprises</h2>
  <div class="container">
    <div class="row" style="margin-bottom: 40px;">
      <div class="col-md-5 col-xs-12">
        <div class="particuliers-pic" style="background-image: url('<%= image_path('studio2.jpg') %>');">
        </div>
        <div class="particuliers-pic" style="background-image: url('<%= image_path('studio2.jpg') %>');">
        </div>
      </div>
      <div class="col-md-7 col-xs-12">
        <h5 style="text-align: justify; margin-top: 0px;">Vous êtes une entreprise et vous souhaitez insuffler une aura artistique à votre lieu de travail : bureaux, open-space, salle de réunion, salle d’accueil ? <br><br> Nous sommes à votre service pour vous aider à valoriser ces espaces et les rendre remarquables. Encore aujourd’hui, les entreprises n’utilisent pas ou peu ces espaces, pourtant de nombreuses études démontrent que l’art en entreprise possède de nombreuses vertus.<br><br></h5>
        <h5><strong>Pourquoi l'art en entreprise?</strong></h5>
        <h5>
        <i class="fa fa-caret-right"></i> L’image et la notoriété de l’entreprise se développent :<br>
        La présence d’œuvres d’art valorise l’entreprise et ses locaux auprès de ses clients et partenaires. Elles démontrent son dynamisme et son originalité. Son identité en est renforcée.<br><br>
        <i class="fa fa-caret-right"></i> Une optimisation des finances : <br> <strong>Déduisez 100% du montant de l'oeuvre de vos impôts !</strong>
        <a href="/defiscalisation" target="_blank" class="btn-defisc">Plus d'informations.</a><br><br>
        <i class="fa fa-caret-right"></i> Un enrichissement de l’entreprise et de son patrimoine :<br>
        Chaque acquisition permet à l’entreprise d’enrichir son patrimoine de manière noble et intelligente. <br><br>
        <i class="fa fa-caret-right"></i> Le bien-être et la créativité de ses salariés :<br>
        L’arrivée de l’art dans l’univers professionnel permet aux employés et à leurs employeurs de stimuler leur productivité, leur motivation ainsi que leur imagination. <br><br>
        <i class="fa fa-caret-right"></i> Un mécénat bénéfique pour l’art contemporain : <br>En achetant des œuvres d’art, votre entreprise encourage et dynamise la création contemporaine française.</h5>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><h5 class="btn-defisc">Comment choisir l’artiste?</h5></a>
        </div>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
        Nous sommes à votre écoute et serons très heureux de vous présenter nos artistes sur consultation. Notre rôle est de vous conseiller et de mettre notre expérience à votre service pour vous apporter des réponses liées à vos choix et goûts artistiques.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><h5 class="btn-defisc">Combien ça coûte?</h5></a>
        </div>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
        Nous prenons également en compte votre budget pour déterminer avec l’artiste, la future création. Par la suite, nous vous enverrons gratuitement notre devis.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><h5 class="btn-defisc">Comment la commande se matérialise?</h5></a>
        </div>
      </div>
      <div id="collapseSix" class="panel-collapse collapse">
        <div class="panel-body">
        Après validation, nous organiserons une rencontre avec l’artiste afin que vous puissiez échanger directement avec lui, de la façon la plus naturelle possible. Un rendez-vous important qui lui permettra de faire connaissance avec vous et votre environnement et vous proposer une création qui vous ressemble en adéquation avec votre univers et votre intérieur. <br>
        Avant la réalisation de l’oeuvre in situ, une simulation numérique ou esquisse papier du projet vous sera envoyée. Vous pourrez ainsi visualiser la future création et mieux vous projeter.
        </div>
      </div>
    </div>
  <h4 class="title" style="margin-top: 60px;"><strong>Ils parlent des bénéfices de l'art en entreprises</strong></h4>
  <div class="presse">
    <a href="http://www.culturecommunication.gouv.fr/Actualites/Les-collections-d-art-valeurs-montantes-de-l-entreprise" target="_blank"><%= image_tag "1.png" %></a>
    <a href="https://www.challenges.fr/conso-et-luxe/quand-l-art-s-invite-au-bureau_159303" target="_blank"><%= image_tag "2.png" %></a>
    <a href="https://immobilier.jll.fr/blog/article/comment-l-art-peut-cotoyer-l-entreprise" target="_blank"><%= image_tag "3.png" %></a>
    <a href="https://www.lesechos.fr/10/01/2006/LesEchos/19580-047-ECH_l-art-au-service-de-la-culture-d-entreprise.htm" target="_blank"><%= image_tag "4.png" %></a>
    <a href="http://www.dynamique-mag.com/article/art-entreprise.9728" target="_blank"><%= image_tag "5.png" %></a>
  </div>
  </div>
</div>

