<div class="wrapper" id="oeuvres">
  <div class="container">
    <h2 class="title">Les oeuvres</h2>
  </div>
  <div class="container-oeuvres">
    <div class="controler-action">
      <div class="controler-carousel">
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <%= image_tag("left.png") %>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <%= image_tag("right.png") %>
        </a>
      </div>
    </div>
    <div class="carousel_wrapper" style="position: relative;">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag("carousel26.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel17.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel24.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel10.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel5.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel27.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel7.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel13.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel28.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel9.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel29.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel4.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel30.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel19.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel8.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel25.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel18.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel31.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel1.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel6.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel16.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel32.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel21.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel33.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel2.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel15.png") %>
          </div>
          <div class="item">
            <%= image_tag("carousel14.png") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
