<div class="wrapper">
  <h2 class="title">Ils en parlent</h2>
  <div class="container">
    <div class="presse">
      <a href="http://www.culturecommunication.gouv.fr/Actualites/Les-collections-d-art-valeurs-montantes-de-l-entreprise" target="_blank"><%= image_tag "1.png" %></a>
      <a href="https://www.challenges.fr/conso-et-luxe/quand-l-art-s-invite-au-bureau_159303" target="_blank"><%= image_tag "2.png" %></a>
      <a href="https://immobilier.jll.fr/blog/article/comment-l-art-peut-cotoyer-l-entreprise" target="_blank"><%= image_tag "3.png" %></a>
      <a href="https://www.lesechos.fr/10/01/2006/LesEchos/19580-047-ECH_l-art-au-service-de-la-culture-d-entreprise.htm" target="_blank"><%= image_tag "4.png" %></a>
      <a href="http://www.dynamique-mag.com/article/art-entreprise.9728" target="_blank"><%= image_tag "5.png" %></a>
    </div>
  </div>
</div>
