<%= render 'shared/navbar' %>
<%= render 'pages/banner' %>
<%= render 'pages/studio' %>
<%= render 'pages/particuliers' %>
<%= render 'pages/entreprises' %>
<%= render 'pages/oeuvres' %>
<%= render 'pages/contact' %>
<div class="hidenavbar"></div>
<div style="position: fixed; right: 20px; bottom: 10px; "><a href="#top-page" id="btn-top" style="background: #0a0118; text-align: center; color: white; padding: 8px;"><i class="fas fa-angle-up"></i></a></div>
