<%= render 'shared/navbar' %>
<%= render 'pages/banner' %>
<%= render 'pages/studio' %>
<%= render 'pages/particuliers' %>
<%= render 'pages/entreprises' %>
<%= render 'pages/contact' %>
<%= render 'pages/footer' %>
<div class="hidenavbar"></div>
