<div class="wrapper" style="border-top: 10px solid #0a0118; position: relative;">
  <a href="/" style="position: absolute; top: 20px; right: 20px; color: #0a0118"><i class="fas fa-home"></i></a>
  <div class="container">
    <h2 class="title">Les oeuvres du Studio Cariatide</h2>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel24.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel1.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel2.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel3.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel4.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel5.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel6.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel7.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel8.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel9.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel10.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel11.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel12.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel13.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel14.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel15.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel16.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel17.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel18.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel19.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel20.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel21.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel22.png") %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card-image">
          <%= image_tag("carousel23.png") %>
        </div>
      </div>
    </div>
  </div>
</div>
